
{% extends "layout.html" %}

{% block body %}

<div class="row">
	<div class="col s12 background" style="background-image: url(http://66.media.tumblr.com/648fc1a49047658d13d2f6c1fcf7a171/tumblr_nf99gzhh7h1swxozwo1_1280.jpg) !important">		
		<div class="container">
			<nav>
				<div class="nav-wrapper">						
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li>
							<a class="modal-trigger" href="#modal1">Cadastrar Evento</a>
						</li>
						<li>
							<a href="https://github.com/DemocraciaNasRuas/Site">Colabore</a>
						</li>
						<li>
							<a href="https://github.com/DemocraciaNasRuas/Site/docs/missao-e-valores.md">Missão e Valores</a>
						</li>
						<li>
							<a href="https://github.com/DemocraciaNasRuas/Site/docs/contato.md">Contato</a>
						</li>
					</ul>
				</div>
			</nav>

			<!-- Page Content goes here -->
			<h1>Defesa a escola publica</h1>

			<h2 style="font-size: 23px; top: 20px;">Por Mídia NINJA com colaboração do estudante Nathan Follmann, um dos líderes do movimento de ocupação na cidade.</h2>
		</div
	</div>

</div>

<div class="row">

	<div class="col s6" id="event">
		<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12028.44023021033!2d-46.638639051209566!3d-23.573018136244105!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1468282185563" width="100%" height="450" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="col s6">

        <div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a class="active" href="#inbox">DADOS DO EVENTO</a></li>
            	<li class="tab col s3"><a href="#unread">DADOS DO ORGANIZADOR</a></li>            
			</ul>
        </div>
        <div id="unread" class="col s12">
		    <p><b>Titulo:</b> Fora Temer</p>
		    
		    <p><b>Descrição:</b> Descrição teste</p>
		    
		    <p><b>Facebook:</b> http://www.facebook.com.br/events..</p>

		    <p><b>Twitter:</b> http://www.twitter.com</p>
		    
		    <p><b>Site:</b> http://www.site.com</p>

		    <p><b>E-mail:</b> email@site.com</p>

		    <p><b>Telefone:</b> (11) 5658-2625</p>

		    <p><b>Celular:</b> (11) 9 4566-5645</p>
        </div>
        <div id="inbox" class="col s12">
		    <p><b>Titulo:</b> Fora Temer</p>
		    
		    <p><b>Descrição:</b> Descrição teste</p>
		    
		    <p><b>Data:</b> 2016-01-01</p>
		    
		    <p><b>Titulo:</b> Rua Salvador Dali</p>
		    
		    <p><b>Nº:</b> 1044</p>
		    
		    <p><b>Bairro:</b> Jardim Apurá</p>
		    
		    <p><b>CEP:</b> 04470-185</p>
		    
		    <p><b>Complemento:</b> Casa</p>
		    
		    <p><b>Referencia:</b> Pasto</p>
		    
		    <p><b>Cidade:</b> São Paulo</p>
		    
		    <p><b>Estado:</b> São Paulo</p>
		    
		    <p><b>Facebook:</b> http://www.facebook.com.br/events..</p>
        </div>

	</div>

</div>

{% endblock %}