
{% extends "layout.html" %}

{% block body %}

<div class="row">
	<div class="col s12 background" style="background-image: url({% if protest.protests_id.image %} {{protest.protests_id.image}} {% else %} http://67.media.tumblr.com/d9811f41d301227dc8844ee27f67e885/tumblr_nejmgeR8kZ1swxozwo1_1280.jpg {% endif %}) !important">		
		<div class="container">
		
			<nav>
				<div class="nav-wrapper">						
					<ul id="nav-mobile" class="right hide-on-med-and-down menu-desktop">
						<li>
							<a href="/">Inicio</a>
						</li>						
						<!--li>
							<a class="modal-trigger" href="#modal1">Cadastrar Evento</a>
						</li-->
						<li>
							<a href="/missao">Missão</a>
						</li>
						<li>
							<a href="/contato">Contato</a>
						</li>
					</ul>

					<ul class="right hide-on-large-only">
						<li>
							<a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
						</li>
					</ul>
				</div>
			</nav>


			<!-- Menu populado com jquery -->
			<ul id="slide-out" class="side-nav menu-mobile">		
				<li>
					<a href="/">Inicio</a>
				</li>					
				<!--li>
					<a class="modal-trigger" href="#modal1">Cadastrar Evento</a>
				</li-->
				<li>
					<a href="/missao">Missão</a>
				</li>
				<li>
					<a href="/contato">Contato</a>
				</li>
			</ul>
			
			<!-- Page Content goes here -->
			<h1>{{ protest.protests_id.title }}</h1>

			<h2 style="font-size: 23px; top: 20px;">{{ protest.protests_id.description }}</h2>
		</div>
	</div>

</div>

<div class="row">

	<div class="col s6" id="event">
		<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBy12PsIDZ8pqaS5Z0sNPTQ4A4nh3yl0m0&q={{ protest.protests_id.reference }},{{ protest.protests_id.state }}" width="100%" height="450" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="col s6">

        <div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a class="active" href="#inbox">DADOS DO EVENTO</a></li>
            	<li class="tab col s3"><a href="#unread">DADOS DO ORGANIZADOR</a></li>            
			</ul>
        </div>
        <div id="unread" class="col s12">
		    <p><b>Titulo:</b> {{ protest.protests_id.title }}</p>
		    
		    <p><b>Descrição:</b> {{ protest.protests_id.description }}</p>
		    
		    <p><b>Facebook:</b> {{ protest.facebook }}</p>

		    <p><b>Twitter:</b> {{ protest.twitter }}</p>
		    
		    <p><b>Site:</b> {{ protest.protests_id.site }}</p>

		    <p><b>E-mail:</b> {{ protest.protests_id.email }}</p>

		    <p><b>Telefone:</b> {{ protest.phone1 }}</p>

		    <p><b>Celular:</b> {{ protest.phone2 }}</p>
        </div>
        <div id="inbox" class="col s12">
		    <p><b>Titulo:</b> {{ protest.title }}</p>
		    
		    <p><b>Descrição:</b> {{ protest.description }}</p>
		    
		    <p><b>Data:</b> {{ protest.protests_id.date }}</p>
		    		    
		    <p><b>Rua:</b> {{ protest.protests_id.street }}</p>

		    <p><b>Nº:</b> {{ protest.protests_id.number }}</p>
		    
		    <p><b>Bairro:</b> {{ protest.protests_id.neighborhood }}</p>
		    
		    <p><b>CEP:</b> {{ protest.protests_id.postal_code }}</p>
		    
		    <p><b>Complemento:</b> {{ protest.protests_id.complement }}</p>
		    
		    <p><b>Referencia:</b>  {{ protest.protests_id.reference }}</p>
		    
		    <p><b>Cidade:</b>  {{ protest.protests_id.city }}</p>
		    
		    <p><b>Estado:</b>  {{ protest.protests_id.state }}</p>
        </div>

	</div>

</div>

{% endblock %}