
{% extends "layout.html" %}

{% block body %}

<div class="row">
	<div class="col s12 background" style="background-image: url(http://66.media.tumblr.com/648fc1a49047658d13d2f6c1fcf7a171/tumblr_nf99gzhh7h1swxozwo1_1280.jpg) !important">		
		<div class="container">
			<nav>
				<div class="nav-wrapper">						
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li>
							<a class="modal-trigger" href="#modal1">Cadastrar Evento</a>
						</li>
						<li>
							<a href="https://github.com/DemocraciaNasRuas/Site">Colabore</a>
						</li>
							<li>
							<a href="https://github.com/DemocraciaNasRuas">Contato</a>
						</li>
					</ul>
				</div>
			</nav>

			<!-- Page Content goes here -->
			<h1>Defesa a escola publica</h1>

			<h2 style="font-size: 23px; top: 20px;">Por Mídia NINJA com colaboração do estudante Nathan Follmann, um dos líderes do movimento de ocupação na cidade.</h2>
		</div
	</div>
</div>

<div class="row">
</div>

{% endblock %}