<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{title}}</title>

    <meta name="description" content="{{ description }}">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
 	{{messages}}
	<div class="container-flex">
    	
    	{% block body %} {% endblock %}

		<div class="row" id="footer">            
			<div class="col s12 grey lighten-4 footer">
				<p>Projeto independente apoiado pela empresa <a href="http://www.ciawn.com.br">CiaWN</a> </p>
			</div>
		</div>
	</div>

	<!-- Modal Structure -->
	<div id="modal1" class="modal">
	    <form action="/register_event" method="POST" class="col s12">
			<div class="modal-content">
			  	<h4>Cadastrar Evento</h4>
			  	<p>Insira as informações no formulario abaixo</p>
			</div>

			<div class="modal-body">
				<div class="row">
			      <div class="row">
			        <div class="input-field col s12">
			          <input placeholder="Titulo" name="register[title]" id="title" type="text" class="validate">
			          <label for="title">Digite um titulo</label>
			        </div>
			      </div>
			      <div class="row">
			      	<div class="input-field col s12">
				      	<textarea name="register[description]" id="description" class="validate materialize-textarea"></textarea>
				      	<label for="description">Digite uma descrição</label>
				    </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s4">
			          <input placeholder="Endereço" name="register[street]" id="street" type="text" class="validate">
			          <label for="street">Digite o endereço do evento</label>
			        </div>
			        <div class="input-field col s4">
			          <input placeholder="Número" name="register[number]" id="number" type="text" class="validate">
			          <label for="street">Digite o número aproximado do evento</label>
			        </div>
			        <div class="input-field col s4">
			          <input placeholder="Bairro" name="register[neighborhood]" id="neighborhood" type="text" class="validate">
			          <label for="street">Digite o bairro do evento</label>
			        </div> 
			      </div>
			      <div class="row">
			        <div class="input-field col s4">
			          <input placeholder="CEP" name="register[postal_code]" id="postal_code" type="text" class="validate">
			          <label for="postal_code">Digite o cep do evento</label>
			        </div>
			        <div class="input-field col s4">
			          <input placeholder="Complemento" name="register[complement]" id="complement" type="text" class="validate">
			          <label for="complement">Digite o complemento do evento</label>
			        </div>
			        <div class="input-field col s4">
			          <input placeholder="Referencia" name="register[reference]" id="reference" type="text" class="validate">
			          <label for="reference">Digite uma referencia de local do evento</label>
			        </div> 
			      </div>
			      <div class="row">
			        <div class="input-field col s6">
			          <input placeholder="Estado" name="register[state]" id="state" type="text" class="validate">
			          <label for="state">Digite o estado do evento</label>
			        </div>
			        <div class="input-field col s6">
			          <input placeholder="Cidade" name="register[city]" id="city" type="text" class="validate">
			          <label for="city">Digite a cidade de local do evento</label>
			        </div> 
			      </div>
			      <div class="row">
			        <div class="input-field col s4">
			          <input placeholder="Titulo do movimento" name="register[title]" id="title" type="text" class="validate">
			          <label for="title">Titulo do movimento</label>
			        </div>
			        <div class="input-field col s4">
			          <input placeholder="Descrição" name="register[description]" id="description" type="text" class="validate">
			          <label for="description">Digite a descrição do movimento</label>
			        </div>
			        <div class="input-field col s4">
			          <input placeholder="Facebook" name="register[facebook]" id="facebook" type="text" class="validate">
			          <label for="facebook">Facebook do movimento</label>
			        </div> 
			      </div>
			      <div class="row">
			        <div class="input-field col s4">
			          <input placeholder="Twitter" name="register[twitter]" id="twitter" type="text" class="validate">
			          <label for="twitter">Twitter do movimento</label>
			        </div>
			        <div class="input-field col s4">
			          <input placeholder="Site" name="register[site]" id="site" type="text" class="validate">
			          <label for="site">Digite a site do movimento</label>
			        </div>
			        <div class="input-field col s4">
			          <input placeholder="E-mail" name="register[email]" id="email" type="text" class="validate">
			          <label for="email">Digite o email do movimento</label>
			        </div> 
			      </div>
			      <div class="row">
			        <div class="input-field col s6">
			          <input placeholder="Twitter" name="register[phone1]" id="phone1" type="text" class="validate">
			          <label for="phone1">Telefone para contato</label>
			        </div>
			        <div class="input-field col s6">
			          <input placeholder="Celular" name="register[phone2]" id="phone2" type="text" class="validate">
			          <label for="phone2">Digite o celular para contato</label>
			        </div> 
			      </div>
			      <div class="row">
			        <div class="input-field col s6">
					    <div class="file-field input-field">
					      <div class="btn">
					        <span>Image</span>
					        <input type="file" name="register[image]" id="image">
					      </div>
					      <div class="file-path-wrapper">
					        <input class="file-path validate" type="text">
					      </div>
					    </div>
			        </div>
			        <div class="input-field col s6" style="padding-top: 13px;">
							<input type="date" name="register[date]" id="date">
			        </div> 
			      </div>
				</div>
			</div>

			<div class="modal-footer" style="padding-right: 25px;">
				<button class="waves-effect waves-light btn blue" type="submit">Salvar</button> 
				<a href="#!" class="modal-action modal-close waves-effect waves-light btn red" style="margin-right:15px;">Cancelar</a>
			</div>
		</form>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
	
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/packaged/jquery.noty.packaged.min.js"></script>
	<script>
		var n = noty({text: '{{messages[0]["message"]}}'});

		$(document).ready(function() {
			$('select').material_select();
		});

		$(document).ready(function(){
		    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		    $('.modal-trigger').leanModal();
			});

		  $('.datepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 16 // Creates a dropdown of 15 years to control year
		  });
		     

	</script>
</body>
</html>