<nav>
	<div class="nav-wrapper">						
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>
				<a class="modal-trigger" href="#modal1">Cadastrar Evento</a>
			</li>
			<li>
				<a href="https://github.com/DemocraciaNasRuas/Site">Colabore</a>
			</li>
			<li>
				<a href="https://github.com/DemocraciaNasRuas/Site/docs/missao-e-valores.md">Missão e Valores</a>
			</li>
			<li>
				<a href="https://github.com/DemocraciaNasRuas/Site/docs/contato.md">Contato</a>
			</li>
		</ul>
	</div>
</nav>
